---
import Layout from '../layouts/Layout.astro';
import Leaderboard from '../components/Leaderboard.tsx';
import WeekChallenges from "../components/ChallengesComponent";
import {getLeaderboard} from "../lib/leaderboardFetcher";
import React from "react";
import challengesData from "../data/challenges.json";

const initialParticipants = await getLeaderboard()
---

<Layout title="Challenges">
  <div class="bg-gradient-to-br from-[--google-blue] to-blue-700 text-white py-12">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl font-bold text-center">GDG Challenges</h1>
    </div>
  </div>

  <section class="py-16">
    <div class="container mx-auto px-4">
      <Leaderboard client:load participants={initialParticipants}/>
      <div class="space-y-6">
        {challengesData.weeks.map((week) => (
            <WeekChallenges client:load week={week}/>
        ))}
      </div>
    </div>
  </section>
</Layout>
