---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
// import ParticlesBackground from "@/components/background";
import BouncingBall from "../components/BouncingBall";
import BlurBackground from "@/components/BlurBackground";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {title} | Google Developer Group on Campus - Oregon State University
    </title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="flex flex-col min-h-screen bg-gray-50">
    <BlurBackground />
    <BouncingBall client:only />
    <!-- <BouncingBall client:only /> -->
    <Navigation />
    <main class="flex-grow container mx-auto px-4 py-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --google-blue: #4285f4;
    --google-red: #ea4335;
    --google-yellow: #fbbc05;
    --google-green: #34a853;
  }
</style>
